{% extends "base.html" %}

{% block header  %}
<div class="alert alert-dark" role="alert">
  <h1>情報ボーイズ <span class="badge text-bg-secondary">New</span></h1>

</div>
{% endblock header  %}

{% block content %}
<div class='container' > 
    {% for item in object_list %}
    <div class="alert alert-{{item.priority}}" role="alert">
      <h2>{{ item.title }}</h2>{{item.duedate}}
      <p><a class="btn btn-danger" href="{% url 'update' item.pk %}" role="button">編集</a>
      <a class="btn btn-primary" href="{% url 'delete' item.pk %}" role="button">削除</a>
      </p>
      <p><a class="btn btn-success" href="{% url 'detail' item.pk %}" role="button">もっと見る
        </a>
      </p>
      
    </div>
    <div class="alert alert-{{item.priority}}" role="alert">
      {{ item.memo }}
    </div>

    {% endfor %}
    <a class="btn btn-primary" href="{% url 'create' %}" role="button">新規作成</a>

</div>
{% endblock content %}

